:root {
  --color-primary: #5643fa;;
  --color-secondary-light: #2998ff;;
  --color-grey-light-1: #f7f7f7;
  --color-grey-light-2: #eee;
  --color-gray-dark: #777;
  --color-white: #fff;
  --color-black: #000
  /* Para usar las variables: 
  
    elemento {
      background-color: var(--color-primary);
    }
  
  */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }


body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
