/** Archivo de estilos 

    1. Bajar cambios
    2. Crear rama rama-estilos-ficha-nombre
    3.
    Crear una regla de estilos para su ficha con la siguiente convención:
        .Nombre-Ficha {
            ...
        }
        3.1 asignar su clase a su ficha
    4. Salvar sus cambios
    5. Hacer commit en Git con el código :lipstick: estilos-ficha-nombre
    6. Avisar que se hizo PR
    7. De haber conflictos, resolver los conflictos


    ** CICLO DE GIT **
    1. en rama develop bajar cambios (fetch origin)
    2. mezclar rama upstream/develop con develop
    3. Crear rama nueva
    4. Codificar mi funcion
        4.1 salvar
        4.2 probar (me auxilio de la extensión live server o abro directamente el archivo)
    5. Commit de mis cambios (usar el código especificado para la función)
    6. Volver a la rama develop y bajar cambios (pasos 1 y 2)
    7. Volver a la rama de mi función y mezclar mi rama con la rama develop (para evitar conflictos)
    8. Hacer publish branch
    9. Hacer Pull Request (solicitud de extracción)
    10. Avisar de mi PR en el grupo
    
*/

body {
    margin: 0;
    padding: 0;
}

.Ficha-julio {
    font-family: sans-serif;
    width: 350px;
    display: block;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    box-shadow: 2px 4px #ccc;
}
body {
    margin: 0;
    padding: 0;
}
.Ficha-xoch {
   
    font-family: 'Century Gothic', Arial, sans-serif;
    background-color: #F7D5F6;
    width: 350px;
    display: block;
    margin: auto;
    border: #05545A 5px dashed;
    text-align: center;
    color: #540851;



} 
.Ficha-Enrique{
    font-family: cursive;
    background-color:rgb(197, 235, 135);
    width: 400px;
    display: block 20 px;
    margin: auto;
    border: 8px solid coral;
    text-align: center;
    color: rgb(139, 76, 34);
    box-shadow: 5px 5px rgb(146, 143, 106);
   
        
}
.Ficha-angel{
    font-family :Century Gothic, sans-serif;
    background-color:rgb(24, 13, 53);
    color:rgb(0, 247, 255);
    margin: auto;
    width: 380px;
    padding: 25px;
    border: chartreuse 8px inset;
    text-shadow: 1px 3px 5px rgb(255, 0, 53);

    
    
}
.Ficha-carlos{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient( 45deg, #008080, #ffebcd);
    width: 400px;
    display: block 20 px;
    margin: auto;
    border: 8px inset rgb(80, 191, 255);
    text-align: center;
    color: rgb(85, 18, 99);
    box-shadow: 5px 5px rgb(146, 143, 106);
   
        
}
.ficha-paola{
    font-size: sans-serif, font-kerning;
    background-color: rgb(255, 0, 53);
    color: rgb(157, 255, 0);
    margin: auto;
    width: 350px;
    padding: 25px;
    border: blue 3px dotted;
    text-align: center;
}
.Ficha-lorena{
    font-family:times, Helvetica, sans-serif ;
    color:blue;
    width:500px;
    margin:20pz;
    display: block;
    text-align:center;
    border:6px solid red;  
    margin-left:100px;
	margin-right:30px;
	margin-top:30px;
    background-color:yellow;
	font-size:20pt; 
	font-style:italic;
}
.Ficha-Javier {
    font-family: Helvetica, cursive;
    border-radius: 35px 0px 35px 0px;
    background: linear-gradient( #FF0000, white);
    width: 300px;
    display: block;
    margin: auto;
    border: #0000FF 5px double;
    text-align: center;
    color: #0000FF;
    box-shadow: 2px 4px #ccc;
}
    
.Ficha-diego{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient( 90deg, #800400, #185085);
    width: 400px;
    display: block 20 px;
    margin: auto;
    border: 8px inset rgb(185, 31, 31);
    text-align: center;
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(146, 143, 106);
   
        
}